{% extends "layouts/base.html" %}
{% block title %} List of books {% endblock %}

{% block content %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center File Input</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center">

        {% endblock %}
<a href="\books">Return to Books</a>
<h1>  This is Book number {{book_num}} </h1>
<table>
    <tr>
        <th>PName</th>
        <th>image</th>
        <th>price</th>
        <th>add to cart</th>
    </tr>    

    <tr>
        <td>apple </td>
        <td>mable</td>
        <td>label</td>
{% endblock %}
        <input type="file" name="fileInput" id="fileInput">
    </div>
</body>
</html>




<h1>  <a href="\books\1">Book1</a> </h1>



    

